.vote {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &--active {
    background-color: #98d650;
  }
}
